<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.senscape.hsdemo">

    <uses-sdk android:minSdkVersion="14"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.hardware.usb.accessory"/>

    <uses-feature android:name="android.hardware.Camera"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".faceDetector.FaceDetectorActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".hello2018.HelloActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".sketchGuess.SketchGuessActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".objectDetector.ObjectDetectorActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".faceDetector.FaceDetectorBySelfActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".objectDetector.ObjectDetectorBySelfActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".sketchGuess.SGbySelfctivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".multiple.MultipleActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".multiple.MultipleSelfActivity"
            android:configChanges="orientation|screenSize|screenSize|layoutDirection"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>